<h1 id="page_title">Say Hello!</h1>

<div class="skinny_wrapper wrapper_padding">
	<div id="map">
		<!-- <iframe src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=109+West+57th+Street+New+York+NY&amp;ap=&amp;sil=40.765754,-73.97747&amp;sspn=0.009962,0.013025&amp;gl=us&amp;hnear=109+W+57th+Street+New+York,+10019&amp;t=m&amp;spn=0.011376,0.018239&amp;z=15&amp;iwloc=A&amp;output=embed" frameborder="0"></iframe> -->
		<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d2240.568292206293!2d72.9732701111704!3d19.18770200881291!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x3be7b8df51719ccf%3A0x3b3afba7961341f8!2sThane+Junction!3m2!1d19.186065499999998!2d72.97595199999999!4m5!1s0x0%3A0xde51cd2d7291210c!2sRajmata+Vadapav+Center!3m2!1d19.188981899999998!2d72.9724349!5e0!3m2!1sen!2sin!4v1443689671093" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>

	<%= form_for @contact do |f| %>
		<%= f.label :name %><br>
		<%= f.text_field :name, required: true %>

		<br>

		<%= f.label :email %><br>
		<%= f.email_field :email, required: true %>

		<br>

		<%= f.label :message %><br>
		<%= f.text_area :message, as: :text %>

		<div class="hidden">
			<%= f.label :nickname %><br>
			<%= f.text_field :nickname, hint: 'leave this field blank' %>
		</div>

		<%= f.submit 'Send Message', class: "button" %>
	<% end %>


</div>

